/* headers */
    header {
        background: var(--main-bg);
        position: fixed; top: -6px; padding-top: 6px; z-index: 999;
        display: flex; align-items: center;
        width: 100%;
    }
    .header__wrapper {
        display: flex; align-items: center; justify-content: space-between;
        padding-top: 20px; padding-bottom: 20px;
    }
        /* header>>logo */
        /* header>>nav */
        .list-menu ul {
            display: flex; align-items: center; gap: 36px;
        }
            .list-menu ul a {
                display: inline-block; 
                color: var(--pseudo-title); font-size: 1.4rem;
                transition: color .3s, font-weight .3s;
            }
            .list-menu ul a:hover {
                font-weight: 600; color: var(--title-color);
            }
            .list-menu ul a:before {
                display: block;content: attr(title);font-weight: bold;height: 0;overflow: hidden;visibility: hidden;
            }
        /* header>>cta */
        .header__cta-button {
            padding: 18px 32px; color: var(--title-color);
        }
        .header__cta-button:hover {
            color: var(--w);
            border-color: transparent;
            background: var(--title-color); box-shadow: 0px 13px 26px -8px rgba(0, 9, 88, 0.42);
        }
/* section/hero */
    .hero {
        height: calc(100vh - 100px); max-height: 850px; min-height: 700px;
    }
    .hero__wrapper {
        height: 100%;
        display: grid; align-items: center; grid-gap: 120px;
        grid-template-columns: repeat(2, 1fr);
    }
        /* hero>>information */
        .hero__title {margin-bottom: 24px;}
        .hero__desc {margin-bottom: 38px;}
        .hero__cta {display: flex; align-items: center; gap: 24px;}
            .hero__book {padding: 22px 30px;}
            .hero__book i {filter: drop-shadow(4px 3px 10px rgba(191, 41, 0, 0.40));}
        /* hero>>wrapper */
        .figure__wrapper {  }
        .figure__relative {
            width: 66%; aspect-ratio: 97 / 122; position: relative;
        }
            /* figure: big cat */
            .cat__inner {
                border-radius: 16px; border: 3px solid #FFF;
                background: linear-gradient(180deg, #FFA78D 0%, #FF8C60 100%);
                box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
                width: 100%;height: 100%; overflow: hidden;
                margin: 100px 0;
            }
            .cat__inner::before {
                content: ""; display: block; height: 100%; 
                background: url(./assets/img/landing/hero/cat.png) -150px -150px / 200% no-repeat;
            }
            .figure__circle {
                width: 230px;height: 230px; 
                position: absolute; bottom: 10px; left: -58px; z-index: -3;
                background: url(./assets/img/landing/hero/circle.svg) center / cover no-repeat;
            }
            .figure__linear {
                width: 50px;height: 100px; 
                position: absolute; top: 17px; right: -40px; z-index: -3;
                background: url(./assets/img/landing/hero/linear.svg) center / cover no-repeat;
            }
            .dog__inner {
                width: 50%; aspect-ratio: 93 / 122; 
                border: 2px solid rgba(255, 255, 255, 0.65);
                background: linear-gradient(206deg, #FAA7AD 4.68%, #E87F8A 98.09%);
                box-shadow: 8px 18px 36px -6px rgba(234, 148, 157, 0.17);
                position: absolute; bottom: -58px; right: -163px; border-radius: 16px;
            }
            .dog__inner::before {
                content: ""; display: block; height: 100%; 
                background: url(./assets/img/landing/hero/dog.png) 0 75px/ contain no-repeat;
            }
            /* figure__meta */
            .figure__meta {
                border-radius: 10px; padding: 18px 14px;
                display: grid;grid-gap: 20px;
                background: #FFF; box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
                position: absolute; bottom: -94px;right: 9px;
            }
                .figure__item {display: flex; gap: 10px; align-items: center;}
                    .figure__img {
                        width: 48px;height: 48px; border-radius: 10px;
                        background: #FEC23F; overflow: hidden;
                    }
                    .figure__img::before {
                        content: ''; display: block; height: 100%;
                        background: url(./assets/img/landing/hero/dog-small.png) right center / contain no-repeat;
                    }
                    .figure__img--2 {background: #C6E2FA;}
                    .figure__img--2::before {background-image: url(./assets/img/landing/hero/dog-small-2.png);}
                    .figure__hr {width: 222px;border: 2px solid #F2F2F2; border-radius: 1px;}
                    .figure__desc {display: grid; grid-gap: 7px;}
                        .figure__desc p {font-size: 1.4rem; font-family: var(--title-font); color: var(--title-color); font-weight: 600;}
                        .figure__desc .blah {
                            width: 118px;height: 4px;border-radius: 10px;
                            opacity: 0.08; background: #000958; 
                        }
                        .figure__desc .blah2 {width: 39px; }
/* main>>section list */
    /* section/about_us */
    .about { padding-top: 53px; padding-bottom: 53px; }
    .about__wrapper {
        display: grid;
        grid-template-columns: 43% calc(57%  - 108px); grid-gap: 108px; grid-auto-rows: auto;
        align-items: center;
    }
        /* section/about_us>>information text */
        .about__meta {margin: 77px 0;}
            .about__pseudo {margin-bottom: 15px;}
            .about__title {margin-bottom: 24px;}
            .about__desc {
                margin-bottom: 54px;
                display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient:vertical; overflow: hidden;
            }
            .about__experience {
                width: 100%;
                display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
                grid-gap: 36px 34px; align-content: flex-start;
            }
                /* ../experiences/item */
                .exp_item {
                    width: 100%; 
                    display: flex; align-items: center; gap: 10px;
                }
                    .exp_item i {
                        width: 24px;height: 24px;
                        border-radius: 4px; background: #FF5D31;
                        box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
                        display: flex; align-items: center; justify-content: center; color: #FFF2E5;
                    }
                    .exp__desc {
                        color: var(small-heading); font-weight: 500; font-size: 1.8rem;
                    }
        /* section/about_us>>figures */
        .about__figure {
            width: 100%;height: 100%; position: relative;
            display: flex; align-items: flex-end;
        }
        .about__main-img {
            position: absolute; left: 92px;right: 0; bottom: 0;
            aspect-ratio: 247/168; 
            border-radius: 16px;
            background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
            box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
        }
            .about__main-img::before {
                content: '' ; display: block;
                position: absolute; bottom: 0;left: 23px;right: 21px;
                aspect-ratio: 3 / 4; 
                background: url(./assets/img/landing/about/male.png) center bottom / contain no-repeat;
            }
            .about__pattern {
                width: 134px;height: 94px; 
                background: url(./assets/img/landing/about/pattern.svg) center / contain no-repeat;
                position: absolute; top: -66px; right: -51px; z-index: -1;
            }
            .about__y-exp {
                border-radius: 10px;background: #5BD6E2;
                box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
                padding: 31px 26px; display: grid; grid-gap: 14px; max-width: 84px;
                position: absolute; top: -58px; left: -92px;
            }
                .about__yrs {color: var(--w); font-size: 4.2rem; font-weight: 700; font-family: var(--title-font);}
                .about__yrs-txt {color: #C6F4F9; font-size: 1.4rem; line-height: 1.4; text-align: center;}
                .about__y-exp i {
                    filter: drop-shadow(5px 9px 24px rgba(255, 158, 126, 0.08));
                    position: absolute; top: -7px; right: -3px; transform: rotate(20deg);
                }
                .about__y-exp i::before {
                    background: linear-gradient(183deg, #FFA68C 44.03%, #FF926A 124.6%);
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text; background-clip: text;
                }
    /* section/features */
    .features__wrapper {
        display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 20px; grid-auto-rows: auto;
    }
        /* features/figures */
        .features__figures {width: 100%; height: 100%;}
        .feature__main-img {
            height: 100%; width: calc(100% - 42px); margin-right: 42px;
            border-radius: 18px;border: 2px solid #FFF; background: linear-gradient(180deg, #C6E2FA 0%, #94C2EA 100%);
            box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17); position: relative;
        }
            .feature__main-img::before {
                content: ''; display: block; width: 100%; height: 100%; 
                background: url(./assets/img/landing/features/dogs.png) left center / contain no-repeat;
                box-shadow: 0px 3px 63px 0px rgba(153, 183, 208, 0.59);border-radius: 18px
            }
            .feature__obj {position: absolute;}
            .feature__obj1 {top: 13px;right: 63px;}
            .feature__obj2 {top: -16px;right: 13px;}
            .feature__obj3 {top: 33px;right: -21px;}
            .feature__obj4 {top: 260px;right: -10px;}
            .feature__obj5 {bottom: 150px;right: 19px;}
            .feature__obj6 {bottom: -55px;right: 42px;} 

        /* features/meta */
        .feature__meta {width: 100%;}
            .features__title {margin-bottom: 24px; margin-top: 36px;}
            .features__desc {margin-bottom: 52px; margin-right: 32px;}
    /* section/services */
    .services {padding-top: 68px;padding-bottom: 100px; background: var(--second-bg);}
        /* services/heading */
        .services__title {margin: 15px 0 31px;}
        /* services/list */
            .services__list {
                width: 100%; 
                display: grid; grid-template-columns: 3fr 4fr 3fr; 
                grid-template-rows: repeat(3, 1fr); grid-gap: 86px; grid-auto-rows: auto; grid-auto-flow: column;
                align-items: center;
            }
                .services__item {
                    border-radius: 10px;border: 2px solid rgba(255, 188, 122, 0.26);background: var(--w); 
                    width: 100%;height: 100%; padding: 28px; box-sizing: border-box;
                }
                    .services__name {display: inline-flex; align-items: center;}
                    .services__name::before {
                        content: ''; display: inline-block; margin-right: 12px;
                        width: 4px;height: 26px; background: linear-gradient(90deg, #FF5B2E 0.39%, #FFA187 100.29%); border-radius: 1px; 
                    }
                    .services__desc {padding: 18px 0 24px; font-size: 1.4rem;}
                    .services__link {text-decoration: none;}
                    .services__link::after {
                        content: ''; display: inline-block; margin-left: 6px;
                        width: 12px; height: 12px; transition: transform .3s;
                        background: url(./assets/img/landing/services/upright.svg) center / contain no-repeat; 
                    }
                    .services__link:hover::after {transform: translateX(3px) translateY(-3px);} 
                .services__dogs-wrapper {grid-row: 1 / 4; grid-column: 2 / 3; display: flex; flex-direction: column; justify-content: center; }
                    .services__dogs-inner {position: relative; margin-top: 28px;}
                    .services__dogs-inner, .services__dogs {width: 100%; aspect-ratio: 3/4;}
                    .services__dogs {
                        background: url(./assets/img/landing/services/dogs.png) center / contain no-repeat; 
                        position: absolute; z-index: 11; bottom: 0;
                    }
                    .services__dogs--real {
                        content: ''; display: block;
                        border-radius: 10px; background: linear-gradient(180deg, #9DF1FB 0%, #73D0DB 108.14%); width: 95%; aspect-ratio: 41 / 35; 
                        position: absolute; bottom: 0; z-index: 0;
                    }
                .services__more {margin-left: auto;margin-right: auto; margin-top: 45px; display: inline-block;}
    /* section/teams */
    .team__wrapper {display: flex; flex-direction: column; align-items: center;}
        .team__pseudo {margin-bottom: 15px;}
        .team__title {margin-bottom: 45px;}
        .team__list {
            margin-bottom: 48px;
            display: flex; align-items: center; justify-content: flex-start; gap: 25px; width: 100%;
            overflow: hidden; 
        }
            .team__person {
                flex-basis: 274px; flex-shrink: 0;
                display: flex; align-items: center; flex-direction: column; 
            }
                .team__avatar {
                    width: 100%; height: 295px; padding: 16px; box-sizing: border-box;
                    position: relative; background: transparent; margin-bottom: 34px;
                }
                    .team__person-bg {
                        position: absolute; top: 19px; left: 16px;right: 16px; height: calc(100% - 16px - 5px);
                        border-radius: 129.5px; background: linear-gradient(180deg, #90CCFF 0%, #59A8EB 95.96%);
                    }
                        .team__person-photo, .team__person-photo img {
                            position: absolute; bottom: 0; left: 0; width: 100%; border-radius: 130px;
                        }
                    .team__pattern--down {
                        position: absolute; left: 0; bottom: 0px; width: 100%;
                    }
                    .team__pattern--up {
                        position: absolute; left: 0; top: 16px; width: 100%;
                    }
                .team__person-post {text-align: center; font-size: 1.4rem; margin-top: 6px;}
                .team__person-name {font-size: 2.2rem; font-weight: 600;color: var(--title-color); font-family: var(--title-font); margin-top: 14px;}
    /* section/pricing */
    .pricing {background: var(--second-bg); padding: 86px 0;}
    .pricing__wrapper {display: flex; flex-direction: column; align-items: center;}
        .pricing__title{margin-bottom: 24px;}
        .pricing__desc{margin-bottom: 38px; max-width: 709px;text-align: center;}
        .pricing__time {
            margin-bottom: 56px; border-radius: 31px; border: 1px solid rgb(255, 91, 46, 0.6); display: flex; align-items: center;
        }
            .pricing__time label {
                padding: 20px 40px; color: var(--hyper-cta); cursor: pointer; border-radius: 31px;
                transition: color .3s, background .3s;
                display: block;
            }
            .pricing__time label:hover {
                color: #e62525; 
            }
            .sl:has(:checked) label {background: var(--hyper-cta); color: #fff;}
        .pricing__list {
            display: flex; align-items: center; justify-content: center; gap: 44px;
        }
            .pricing__item {
                flex-shrink: 0; width: 302px; padding: 30px 28px;box-sizing: border-box; background: #fff; border-radius: 20px;
                transition: box-shadow .3s;
            }
            .pricing__item:hover {box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);}
                .pricing__type{font-size: 1.2rem;color: var(--hyper-cta); margin-bottom: 8px;}
                .pricing__name {font-size: 1.8rem; color: var(--title-color-2); font-family: var(--title-font); font-weight: 600; margin-bottom: 24px;}
                .pricing__price {font-size: 3.4rem; color: var(--title-color-2); font-family: var(--title-font); font-weight: 700;}
                .pricing__cta {
                    border: 1px solid rgba(255, 91, 46, 0.60);
                    margin: 24px 0; display: block;border-radius: 39px;
                    transition: border .3s, color .3s, background .3s; text-align: center; padding: 14px 0; font-size: 1.6rem;
                }
                .pricing__cta:hover {
                    border-color: rgb(255 91 46); 
                }
                /* pricing /desc */
                .pricing__details { display: grid; grid-gap: 18px;}
                .pricing__details li { display: flex; align-items: center; gap: 12px;}
                .pricing__details li span { font-size: 1.4rem;}
                .pricing__details li i {color: #FF5B2E;}
                .pricing__less {opacity: .4;}
    /* section/testimonial (aka .rv) */
    .testimonial {margin-top: 53px; margin-bottom: 130px;}
    .rv__sel {margin: 0 auto;}
    .rv__wrapper {
        display: flex; align-items: center; grid-gap: 44px;
        width: 100%;
    }
        /* navigation */
        .rv__nav {flex-shrink: 0;}
        /* user post */
        .rv__post-list {flex-grow: 1; display: flex; align-items: center; justify-content: center;}
            .rv__post {
                width: 100%;
                display: flex; align-items: center; grid-gap: 130px;}
            /* review/avatar */
            .rv__user {width: 30%; max-width: 274px; aspect-ratio: 13/20; background: transparent; display: flex; align-items: center;}
                .rv__bg {width: 100%; aspect-ratio: 39/50;  background: #FFDA54;border-radius: 137px; position: relative; }
                .rv__avatar {
                    width: 100%;aspect-ratio: 1.75/3; position: absolute; bottom: 0;left: 0; border-radius: 137px; filter: drop-shadow(41px, 1px, 41px, rgba(255, 175, 19, 0.18)); object-fit: cover;
                }
            /* review/meta info */
            .rv__contents {max-width: 553px;}
            .rv__title {margin-bottom: 24px;}
            .rv__comment {margin-bottom: 34px; color: #000; font-size: 1.8rem; line-height: 1.6;}
            .rv__author {display: inline-flex; align-items: center; color: #282828; font-family: var(--title-font); font-weight: 600; font-size: 1.8rem;}
            .rv__author::before {content: ''; display: inline-block; margin-right: 8px; width: 20px;height: 2px; border-radius: 1px; background: #000;}
    /* section/blogs */
    /* blogs>>headers */
    .blogs__header {margin-bottom: 54px; display: flex; width: 100%; align-items: center; justify-content: space-between;}
        .blogs__header-desc {max-width: 350px;}
        .blogs__desc {margin-bottom: 24px;}
        .blogs__cta {font-size: 1.6rem; }
    /* blogs>>list */
    .blogs__list {width: 100%;display: flex; align-items: flex-start; gap: 48px; overflow-x: hidden;}
        /* blogs??list>>item */
        .blogs__item {width: 358px; flex-shrink: 0;}
        .blogs__item:hover .blogs__item-img {filter: drop-shadow(-10px -8px 26px rgba(65, 132, 189, 0.15))}
            .blogs__thumbnail {
                width: 100%; height: 362px; border-radius: 24px; padding: 24px 36px; 
                color: var(--w); font-family: var(--title-font); font-size: 1.4rem; position: relative; margin-bottom: 28px; box-sizing: border-box;
            }
            .blogs__item-img {position: absolute; top: 66px; left: 36px; right: 0;bottom: 0; transition: filter .3s;}
            .blogs__item-title {margin-bottom: 16px; display: block;}
            .blogs__item-title h3 {transition: color .3s;}
            .blogs__item-title:hover h3 {color: var(--hyper-cta);}
            .blogs__item-desc {font-size: 1.4rem;}
/* footer */
footer {
    width: 100%;max-width: 1440px; display: grid; grid-template-columns: 43% 57%;
    margin-left: auto; margin-right: auto;
}
    /* contact section */
    .footer__contact {background: var(--second-bg);padding-right: 212px; padding-top: 114px;}
    .ct__wrapper {padding-left: 45px; max-width: 268px; margin-left: auto;}
        /* contact brand */
        .contact__brand {margin-bottom: 35px;}
        /* contact form */
        .contact__form {width: 100%;height: 48px; box-sizing: border-box;border: 1px solid rgba(255, 91, 46, 0.25); border-radius: 23px; background: var(--w); gap: 15px; position: relative; margin-bottom: 68px;}

            #email {font-size: 1.2rem; color: #000; flex-grow: 1; position: absolute; left: 22px; bottom: 50%; transform: translateY(50%);}

            .form__submit {width: 45px;height: 46px; border-radius: 50%; background: var(--hyper-cta); box-shadow: 0 15px 28px -7px rgba(255 91 46 / .3); transition: background .3s; display: flex; align-items: center; justify-content: center; color: #fff; position: absolute;right:0; bottom: 50%; transform: translateY(50%);}
            .form__submit:hover {background: #993114;}
        /* contact sns */
        .sns__title {font-size: 1.8rem; margin-bottom: 16px;}
        .sns__list {display: flex; align-items: center; gap: 16px;}
            .sns__item {width: 32px;height: 32px; border-radius: 50%;box-shadow: 0px 16px 28px -10px rgba(211, 132, 53, 0.33); border: 1px solid fff; color: var(--title-color); background: var(--w); display: flex; align-items: center; justify-content: center; transition: box-shadow .3s}
            .sns__item:hover {box-shadow: 0px 10px 10px -10px rgba(211, 132, 53, 0.33);}
            .sns__item i {transition: opacity .3s; opacity: 0.7;}
            .sns__item i {opacity: 1;}
    /* footer>>menu */
    .menu__wrapper {
        max-width: 524px; margin-right: auto; margin-left: 130px; margin-top: 52px; margin-bottom: 52px;
        display: grid; grid-template-columns: auto auto; align-content: flex-start; row-gap: 58px; justify-content: space-between; flex-wrap: wrap;
    }
        /* menu item list */
        .menu__title {font-size: 1.8rem;margin-bottom: 14px;}
        .menu__item ul {display: grid; grid-gap: 7px;}
        .menu__item a {transition: color .3s, font-weight .3s; font-size: 1.4rem; display: inline-block; padding: 3px 0;}
        .menu__item a::before {display: block;content: attr(title);font-weight: bold;height: 0;overflow: hidden;visibility: hidden;}
        .menu__item a:hover {font-weight: 600; color: var(--title-color);}
    /* copyright */
    .copyright {margin-bottom: 48px; font-size: 1.2rem; margin-left: 22px;}
