/* headers */
    header {
        background: var(--main-bg);
        position: fixed; top: -6px; padding-top: 6px; z-index: 999;
        display: flex; align-items: center;
        width: 100%;
    }
    .header__wrapper {
        display: flex; align-items: center; justify-content: space-between;
        padding-top: 20px; padding-bottom: 20px;
    }
        /* header>>logo */
        /* header>>nav */
        .list-menu ul {
            display: flex; align-items: center; gap: 36px;
        }
            .list-menu ul a {
                display: inline-block; 
                color: var(--pseudo-title); font-size: 1.4rem;
                transition: color .3s, font-weight .3s;
            }
            .list-menu ul a:hover {
                font-weight: 600; color: var(--title-color);
            }
            .list-menu ul a:before {
                display: block;content: attr(title);font-weight: bold;height: 0;overflow: hidden;visibility: hidden;
            }
        /* header>>cta */
        .header__cta-button {
            padding: 18px 32px; border-radius: 31px;
        }
/* section/hero */
    .hero {
        height: calc(100vh - 100px); max-height: 850px; min-height: 700px;
    }
    .hero__wrapper {
        height: 100%;
        display: grid; align-items: center; grid-gap: 120px;
        grid-template-columns: repeat(2, 1fr);
    }
        /* hero>>information */
        .hero__title {margin-bottom: 24px;}
        .hero__desc {margin-bottom: 38px;}
        .hero__cta {display: flex; align-items: center; gap: 24px;}
            .hero__book {padding: 22px 30px;}
            .hero__book i {filter: drop-shadow(4px 3px 10px rgba(191, 41, 0, 0.40));}
        /* hero>>wrapper */
        .figure__wrapper {  }
        .figure__relative {
            width: 66%; aspect-ratio: 97 / 122; position: relative;
        }
            /* figure: big cat */
            .cat__inner {
                border-radius: 16px; border: 3px solid #FFF;
                background: linear-gradient(180deg, #FFA78D 0%, #FF8C60 100%);
                box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
                width: 100%;height: 100%; overflow: hidden;
                margin: 100px 0;
            }
            .cat__inner::before {
                content: ""; display: block; height: 100%; 
                background: url(./assets/img/landing/hero/cat.png) -150px -150px / 200% no-repeat;
            }
            .figure__circle {
                width: 230px;height: 230px; 
                position: absolute; bottom: 10px; left: -58px; z-index: -3;
                background: url(./assets/img/landing/hero/circle.svg) center / cover no-repeat;
            }
            .figure__linear {
                width: 50px;height: 100px; 
                position: absolute; top: 17px; right: -40px; z-index: -3;
                background: url(./assets/img/landing/hero/linear.svg) center / cover no-repeat;
            }
            .dog__inner {
                width: 50%; aspect-ratio: 93 / 122; 
                border: 2px solid rgba(255, 255, 255, 0.65);
                background: linear-gradient(206deg, #FAA7AD 4.68%, #E87F8A 98.09%);
                box-shadow: 8px 18px 36px -6px rgba(234, 148, 157, 0.17);
                position: absolute; bottom: -58px; right: -163px; border-radius: 16px;
            }
            .dog__inner::before {
                content: ""; display: block; height: 100%; 
                background: url(./assets/img/landing/hero/dog.png) 0 75px/ contain no-repeat;
            }
            /* figure__meta */
            .figure__meta {
                border-radius: 10px; padding: 18px 14px;
                display: grid;grid-gap: 20px;
                background: #FFF; box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
                position: absolute; bottom: -94px;right: 9px;
            }
                .figure__item {display: flex; gap: 10px; align-items: center;}
                    .figure__img {
                        width: 48px;height: 48px; border-radius: 10px;
                        background: #FEC23F; overflow: hidden;
                    }
                    .figure__img::before {
                        content: ''; display: block; height: 100%;
                        background: url(./assets/img/landing/hero/dog-small.png) right center / contain no-repeat;
                    }
                    .figure__img--2 {background: #C6E2FA;}
                    .figure__img--2::before {background-image: url(./assets/img/landing/hero/dog-small-2.png);}
                    .figure__hr {width: 222px;border: 2px solid #F2F2F2; border-radius: 1px;}
                    .figure__desc {display: grid; grid-gap: 7px;}
                        .figure__desc p {font-size: 1.4rem; font-family: var(--title-font); color: var(--title-color); font-weight: 600;}
                        .figure__desc .blah {
                            width: 118px;height: 4px;border-radius: 10px;
                            opacity: 0.08; background: #000958; 
                        }
                        .figure__desc .blah2 {width: 39px; }
/* main>>section list */
    /* section/about_us */
    .about { padding-top: 53px; padding-bottom: 53px; }
    .about__wrapper {
        display: grid;
        grid-template-columns: 43% calc(57%  - 108px); grid-gap: 108px; grid-auto-rows: auto;
        align-items: center;
    }
        /* section/about_us>>information text */
        .about__meta {margin: 77px 0;}
            .about__pseudo {margin-bottom: 15px;}
            .about__title {margin-bottom: 24px;}
            .about__desc {
                margin-bottom: 54px;
                display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient:vertical; overflow: hidden;
            }
            .about__experience {
                width: 100%;
                display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
                grid-gap: 36px 34px; align-content: flex-start;
            }
                /* ../experiences/item */
                .exp_item {
                    width: 100%; 
                    display: flex; align-items: center; gap: 10px;
                }
                    .exp_item i {
                        width: 24px;height: 24px;
                        border-radius: 4px; background: #FF5D31;
                        box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
                        display: flex; align-items: center; justify-content: center; color: #FFF2E5;
                    }
                    .exp__desc {
                        color: var(small-heading); font-weight: 500; font-size: 1.8rem;
                    }
        /* section/about_us>>figures */
        .about__figure {
            width: 100%;height: 100%; position: relative;
            display: flex; align-items: flex-end;
        }
        .about__main-img {
            position: absolute; left: 92px;right: 0; bottom: 0;
            aspect-ratio: 247/168; 
            border-radius: 16px;
            background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
            box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
        }
            .about__main-img::before {
                content: '' ; display: block;
                position: absolute; bottom: 0;left: 23px;right: 21px;
                aspect-ratio: 3 / 4; 
                background: url(./assets/img/landing/about/male.png) center bottom / contain no-repeat;
            }
            .about__pattern {
                width: 134px;height: 94px; 
                background: url(./assets/img/landing/about/pattern.svg) center / contain no-repeat;
                position: absolute; top: -66px; right: -51px; z-index: -1;
            }
            .about__y-exp {
                border-radius: 10px;background: #5BD6E2;
                box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
                padding: 31px 26px; display: grid; grid-gap: 14px; max-width: 84px;
                position: absolute; top: -58px; left: -92px;
            }
                .about__yrs {color: var(--w); font-size: 4.2rem; font-weight: 700; font-family: var(--title-font);}
                .about__yrs-txt {color: #C6F4F9; font-size: 1.4rem; line-height: 1.4; text-align: center;}
                .about__y-exp i {
                    filter: drop-shadow(5px 9px 24px rgba(255, 158, 126, 0.08));
                    position: absolute; top: -7px; right: -3px; transform: rotate(20deg);
                }
                .about__y-exp i::before {
                    background: linear-gradient(183deg, #FFA68C 44.03%, #FF926A 124.6%);
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text; background-clip: text;
                }
    /* section/features */
    .features__wrapper {
        display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 20px; grid-auto-rows: auto;
    }
        /* features/figures */
        .features__figures {width: 100%; height: 100%;}
        .feature__main-img {
            height: 100%; width: calc(100% - 42px); margin-right: 42px;
            border-radius: 18px;border: 2px solid #FFF; background: linear-gradient(180deg, #C6E2FA 0%, #94C2EA 100%);
            box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17); position: relative;
        }
            .feature__main-img::before {
                content: ''; display: block; width: 100%; height: 100%; 
                background: url(./assets/img/landing/features/dogs.png) left center / contain no-repeat;
                box-shadow: 0px 3px 63px 0px rgba(153, 183, 208, 0.59);border-radius: 18px
            }
            .feature__obj {position: absolute;}
            .feature__obj1 {top: 13px;right: 63px;}
            .feature__obj2 {top: -16px;right: 13px;}
            .feature__obj3 {top: 33px;right: -21px;}
            .feature__obj4 {top: 260px;right: -10px;}
            .feature__obj5 {bottom: 150px;right: 19px;}
            .feature__obj6 {bottom: -55px;right: 42px;} 

        /* features/meta */
        .feature__meta {width: 100%;}
            .features__title {margin-bottom: 24px; margin-top: 36px;}
            .features__desc {margin-bottom: 52px; margin-right: 32px;}
            
