:root {
    --title-color: #000958;
    --pseudo-title: #5E6085;
    --normal-text: #656689;
    --small-heading: #48496A;
    --hyper-cta: #FF5B2E;
    --w: #FFFFFF;

    --main-bg: #FFFAF5;
    --second-bg: #FFF6ED;

    --title-font: "Sora", sans-serif;
    --normal-font: "Poppins", sans-serif;
}

::selection{
    background: transparent; color: #bc2f00;
}
::-webkit-scrollbar {background: transparent; width: 7px; height: 7px;}
::-webkit-scrollbar-thumb {background: var(--hyper-cta); width: 7px; height: 7px; border-radius: 3.5px;}

html {font-size: 62.5%;}
html,body {scroll-behavior: smooth;}
a {text-decoration: none;}
ul {list-style-type: none; padding: 0; margin: 0;text-indent: 0;}

body {
    color: var(--normal-text); font-size: 1.6rem; font-family: var(--normal-font); font-weight: 400;
}

input, button {
    outline: none; padding: 0;margin: 0;border: 0;
    color: inherit; font-size: inherit; font-family: inherit; font-weight: inherit;
    min-width: 0;
}

input[type="button"],button {
    cursor: pointer;
}

a, i {
    text-decoration: none; color: inherit; 
}


/* headings */
    h1,h2,h3 {color: var(--title-color); font-family: var(--title-font);}
    h1,h2,h3, p {margin: 0;padding: 0;}
    h1 {font-size: 6.6rem; font-weight: 800;line-height: 1.2;}
    h2 {font-size: 5.2rem; font-weight: 700;line-height: 1.3;}
    h3 {font-size: 2.2rem; font-weight: 600;}
    p.desc {line-height: 1.8;}
    p.pseudo-heading {font-weight: 600; color: var(--pseudo-title); font-family: var(--title-font);}
/* page */
    html {
        background: var(--main-bg);
    }
/* common selectors */
    /* content margin */
    .content-margin {
        width: calc(100% - 45px * 2); max-width: 1170px;
        margin-left: auto;margin-right: auto; padding-left: 45px; padding-right: 45px;
    }
    .common__section {
        margin-top: 77px; margin-bottom: 77px;
    }
    .common__section--130 {
        margin-top: 130px;margin-bottom: 130px;
    }
    .obj-center {
        width: 100%; box-sizing: border-box; padding-left: 20px;padding-right: 20px; text-align: center;
    }
    /* tabs */
    .tab {width: 100%; display: grid;}
        /* tab/header */
        .tab__header, .tab__hr {display: grid;grid-template-columns: repeat(3, 1fr); grid-gap: 56px; margin-bottom: 10px; cursor: pointer;}
            .tab__header-text {
                display: flex; align-items: center;gap: 10px;
                transition: transform .3s;
            }
            .tab__header-text:hover {transform: translateY(-3px);}
                .tab__txt {
                    font-size: 1.8rem; font-family: var(--title-font); color: var(--small-heading); font-weight: 600; 
                    transition: color .3s;
                }
                .tab__header-text:hover .tab__txt {color: var(--title-color);}
                .tab__header-img {width: 18px; height: 18px; display: flex; align-items: center; justify-content: center;}
        /* tab/hr */
        .tab__hr {width: 100%; background: rgba(255, 91, 46, 0.07); border-radius: 2px; height: 4px;}
            .tab__selected {max-width: 95px; width: 85%; border-radius: 2px; background: var(--hyper-cta); height: 4px;}
        /* tab/container/items */
        .tab__desc {
            margin: 36px 0 32px; max-width: 391px; font-size: 1.4rem; line-height: 1.7;
            display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient:vertical; overflow: hidden;}


    /* logo brand */
    .brand {
        display: flex; align-items: center; gap: 10px;
    }
        .brand__logo {
            width: 35px;height: 35px;
            background: url(./../img/logo/fav.png) center / contain no-repeat;
            transition: transform .4s;
        }
        .brand:hover .brand__logo {
            transform: rotate(180deg);
        }
        .brand__text {
            color: var(--title-color); font-size: 2.4rem; font-weight: 700; font-family: var(--title-font);
            transition: color .3s;
        }
        .brand:hover .brand__text {
            color: var(--small-heading);
        }
    
    /* buttons */
        /* button1 */
            .button1 {
                display: flex; align-items: center;justify-content: center;
                border-radius: 31px; color: var(--w); font-weight: 600;
                background: var(--hyper-cta);
                box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42); 
                transition: box-shadow .3s;
            }
            .button1:hover {
                box-shadow: 0px 10px 18px -8px rgba(255, 91, 46, 0.8); 
            }
            .button1--mixed {gap: 10px;}
        /* button2 */
            .button2 {
                display: inline-block; padding: 20px 40px;
                background: transparent; border-radius: 31px;
                color: var(--hyper-cta); border: 1px solid currentColor;
                transition: border-color .3s, background-color .3s, color .3s, box-shadow .3s;
            }
            .button2:hover {
                color: var(--w);
                border-color: transparent;
                background: var(--hyper-cta); box-shadow: 0px 13px 26px -8px rgba(251 , 91, 46, 0.42);
            }
        /* hyperlinks */
            .hyperlink--no-u {}
            .hyperlink {transition: color .3s; display: inline-flex; align-items: center;}
            .hyperlink, .hyperlink2 {font-weight: 500; color: var(--title-color); text-decoration: underline;}
            .hyperlink2 {color: var(--hyper-cta);}
            .hyperlink3 {font-weight: 400;font-size: 1.2rem;color: #34396A}
            .hyperlink:hover, .hyperlink2:hover {color: var(--small-heading);}
            /* .hyperlink:hover {color: var(--small-heading);} */
